<div class="card border-0 shadow-sm rounded-4 p-3">
  <h6 class="fw-semibold mb-3">Quick Actions</h6>
  <hr class="my-1" />

  <ul class="list-unstyled mb-0">
    <li class="d-flex align-items-center gap-2 py-2 cursor-pointer hover-bg">
      <lucide-angular size="16" class="text-primary" name="Plus"></lucide-angular>
      <span class="fw-medium">Schedule Meeting</span>
    </li>
    <li class="d-flex align-items-center gap-2 py-2 cursor-pointer hover-bg">
      <lucide-angular class="text-success" size="16" name="Calendar"></lucide-angular>
      <span class="fw-medium">Block Time</span>
    </li>
    <li class="d-flex align-items-center gap-2 py-2 cursor-pointer hover-bg">
      <lucide-angular size="16" class="text-purple" name="Users"></lucide-angular>
      <span class="fw-medium">Team Sync</span>
    </li>
  </ul>
</div>
