.btn-group .btn {
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  color: black;
}

.btn-check:checked + .btn {
  background-color: #0d6efd;
  color: #fff;
}

:host {
  display: block;
  height: 100%;
}




